extends email-layout

block content
  h2 Password Reset
  p Olá. Você solicitou um link para reconfigurar a sua senha. Por favor clique no botão para continuar com o procedimento no site. 
  p: strong Esse link é válido por uma hora.
  +button(resetURL, 'Reset my Password →')
  p Se você não conseguir clicar no link acima acesse pelo site #{resetURL}
  br
  p Se você não solicitou esse email por favor ignore.
