extends email-layout

block content
  h2 Olá Técnico!
  p Obrigado por se registrar no site, seu cadastro será avaliado e liberado por um administrador em breve.
  p Uma confirmação será enviada ao seu email.
  p 
  p Tecnicos tech
  br
  hr
