extends layout

include mixins/_hwForm.pug
include mixins/_hwList.pug

block content
  //pre= h.dump(hardwares)
  .container  
    .mt-3.row
      .col-md-3
        p: strong Aparelhos cadastrados no sistema:
        p orderar por: #[strong TODO] 
        form.form-inline.pr-2(for="hwFilterBy") 
          input(type="text" id="hwFilterBy" placeholder="Filtrar aparelhos:")
      .col-md-9
        #hwList(style="display:block")
          +hwList
        
