extends layout

include mixins/_hwForm.pug
include mixins/_hwList.pug

block content
  .container  
    .mt-3.row
      .col-md-3
        p.mb-2: strong Aparelhos cadastrados no sistema:
        input.pl-2#filterHw(type='text', onkeyup='filter()', placeholder='Filtrar aparelhos por...')
      .col-md-9
        p#emptyMsg.mt-4.text-center: strong(style={'display': '' }) Nada encontrado, por favor modifique sua busca!
        #hwList(style="display:block")
          +hwList
  script.
    function filter() {
      let input, filter, ul, li, a, i, msg;
      input = document.getElementById('filterHw');
      filter = input.value.toUpperCase();
      ul = document.getElementById("hwListUl");
      li = ul.getElementsByTagName('li');
      msg = document.getElementById("emptyMsg")
      msg.style.display = "none";
      let found = 0;
      for (i = 0; i < li.length; i++) {
        a = li[i].getElementsByTagName("a")[0];
        if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
          li[i].style.display = "";
          found++;
        } else {
          li[i].style.display = "none";
        }
      }
      if(!found){
        console.log('not found')
        msg.style.display = "";
      }
    }
    filter()