extends layout

include mixins/_problemsList.pug
include mixins/_problemForm.pug

block content
  // pre= h.dump(hardwares)
  .inner  
    p: strong Defeitos do aparelho: 
    p orderar por: #[strong TODO] 
      #hwListP(style="display:block")
        +problemsList(problems)
        +problemForm(hardwares)
