include _feedbackForm

mixin floatBtn()

  .container-fluid
    #feedback.modal.fade(role='dialog')
      .modal-dialog
        .modal-content
          .modal-header.bg-primary.text-white.p-0
            h5.px-3.pt-2 Seu feedback
            button.close(type='button', data-dismiss='modal') × 
          .modal-body.p-0
            +feedbackForm()

    .row
      .col-md-12
        #mini-fab.btn-group-sm.hidden
          a#sms.btn.btn-warning.btn-fab.px-3.py-1.font-weight-bold(type='button', data-toggle='modal' data-target='#feedback')
            i.material-icons 
              svg(style='width:24px;height:24px', viewBox='0 0 24 24')
                path(fill='#000000', d='M9,22A1,1 0 0,1 8,21V18H4A2,2 0 0,1 2,16V4C2,2.89 2.9,2 4,2H20A2,2 0 0,1 22,4V16A2,2 0 0,1 20,18H13.9L10.2,21.71C10,21.9 9.75,22 9.5,22V22H9Z')
            span.text-center Feedback
          //a#autre.btn.btn-info.btn-fab(href='#', data-toggle='tooltip', data-placement='left', data-original-title='Other', title='')
            i.material-icons
              svg(style='width:24px;height:24px', viewBox='0 0 24 24')
                path(fill='#000000', d='M16,12A2,2 0 0,1 18,10A2,2 0 0,1 20,12A2,2 0 0,1 18,14A2,2 0 0,1 16,12M10,12A2,2 0 0,1 12,10A2,2 0 0,1 14,12A2,2 0 0,1 12,14A2,2 0 0,1 10,12M4,12A2,2 0 0,1 6,10A2,2 0 0,1 8,12A2,2 0 0,1 6,14A2,2 0 0,1 4,12Z')
          //a#mail.btn.btn-danger.btn-fab(href='#', data-toggle='tooltip', data-placement='left', data-original-title='Mail', title='')
            i.material-icons
              svg(style='width:24px;height:24px', viewBox='0 0 24 24')
                path(fill='#000000', d='M4,8L12,13L20,8V8L12,3L4,8V8M22,8V18A2,2 0 0,1 20,20H4A2,2 0 0,1 2,18V8C2,7.27 2.39,6.64 2.97,6.29L12,0.64L21.03,6.29C21.61,6.64 22,7.27 22,8Z')
        //.btn-group
          a#main.btn.btn-success.btn-fab(href='javascript:void(0)')
            i.material-icons
              svg(style='width:24px;height:24px', viewBox='0 0 24 24')
                path(fill='#000000', d='M20.71,7.04C21.1,6.65 21.1,6 20.71,5.63L18.37,3.29C18,2.9 17.35,2.9 16.96,3.29L15.12,5.12L18.87,8.87M3,17.25V21H6.75L17.81,9.93L14.06,6.18L3,17.25Z')
        