mixin homeInfo(homeDisplay = {})
  p: strong Total de aparelhos no sistema: #{homeDisplay[0]}
  p: strong Total de defeitos cadastrados: #{homeDisplay[1]}
  p: strong Total de reparos cadastrados: #{homeDisplay[2]}
  p: strong Total de técnicos cadastrados: #{homeDisplay[3]}