mixin hwItem(hardware)
  
    //.container
    #hwItem.py-1.px-0
      li.list-group-item.d-flex.justify-content-center.align-items-center.bg-light
        .row
          span.col-md-4
            img#hwItemPhoto(src=`/uploads/${hardware.photo || 'default.jpg'}`)
          span.col-md-6
            a.text-dark(href=`/hardware/${hardware.slug}`) 
              p.text-center Aparelho #{hardware.name} 
              p.text-center Modelo: #{hardware.model}
          span.repairsBtnHwList.btn.btn-info.right.col-md-12
            p.m-2 Reparos Cadastrados: XX
          

