mixin hwItem(hardware)
  
  li 
    #hwItem
      p: a(href=`/hardware/${hardware.slug}`) #{hardware.name} 
        img(src=`/uploads/${hardware.photo || 'default.jpg'}`)
        p Modelos: #{hardware.model}
      hr