mixin hwItem(hardware)
  #hwItem.py-1
    li.bg-light.p-0
      a.text-dark(href=`/hardware/${hardware.slug}`)
        .row.align-items-center
          .col-md-4.col-sm-4.text-left
            strong Aparelho #[span.text-muted #{hardware.name}] 
          .col-md-6.col-sm-4.text-left
            strong Modelo: #[span.text-muted #{hardware.model}] 
          .col-md-2.col-sm-2.justify-content-right
            if hardware.photos.length > 0
              img#hwItemPhoto(src=`${hardware.photos[0].location || '/uploads/default.jpg'}`)
            
          

