mixin hwItem(hardware)
  
  #hwItem.py-1
    li.list-group-item.bg-light
      .row
        .col-md-10.col-sm-10.d-flex.align-items-center
          strong: a.text-dark(href=`/hardware/${hardware.slug}`) Aparelho #[span.text-muted #{hardware.name}]  Modelo: #[span.text-muted #{hardware.model}]
        .col-md-2.col-sm-2
          img#hwItemPhoto(src=`/uploads/${hardware.photo || 'default.jpg'}`)
          
          

