include _hwItem.pug
include _pagination.pug

mixin hwList(hws = [{}])
  // pre= h.dump(hardwares)
  if hardwares
    #hwListUl.hwList

      each hardware in hardwares
        +hwItem(hardware)
    +pagination(area, page, pages, count)


    