include _hwItem.pug

mixin hwList(hws = [{name: "xbox", marca: "ms"}, {name: "playstation", marca: "sony"}])
  // pre= h.dump(hardwares)
  if hardwares
    div
    ul
    each hardware in hardwares
      +hwItem(hardware)

  



    