include _hwItem.pug

mixin hwList(hws = [{}])
  // pre= h.dump(hardwares)
  if hardwares
    .hwList.container
      div.list-group
        each hardware in hardwares
          +hwItem(hardware)

  



    