include _problemItem.pug
include _pagination.pug

mixin problemsList()
  //pre= h.dump(problems)
  ul
  each problem in problems
    // pre= h.dump(problem)
    +problemItem(problem)
  +pagination(area, page, pages, count)
  

  



    