mixin problemItem(problem)
  //pre=h.dump(problem)
  li#problemItem.list-group-item.list-group-item-secondary.mb-1
    a#repairLi.font-weight-bold(href=`/problem/${problem.slug}`) Defeito: #[span.font-weight-normal #{problem.title} ] 
      | Descrição: #[span.font-weight-normal #{problem.description}] 
      .btn#hwBtn.ml-3(href=`/problem/${problem.slug}`) Ver reparos



