mixin problemItem(problem)
  //pre=h.dump(problem)
  .list-group-item.list-group-item-action.list-group-item-secondary
    #hwItem
    .row
      .row.col-md-9.font-weight-bold.px-4 Título do defeito:
        p.text-muted.px-3= problem.title
      .row.col-md-9.font-weight-bold.px-4 Descrição do defeito:
        p.text-muted.px-3= problem.description
      a.col-md-3.btn.btn-primary(href=`/problem/${problem.slug}`) Ver reparos para esse defeito
      

        


