include _repairItem.pug

mixin repairList()
  .repairList
  if repairs
    div
      ul#repairListUl.list-group
        each repair in repairs
          li.list-group-item.list-group-item-dark.my-1
            +repairItem(repair)

  



    