mixin topTechs(topTechs)
  //pre= h.dump(topTechs)
  .card.bg-dark#topTechs
    .card-header.bg-info.text-white.text-center.p-2 Top stars:
    .row
      each tech in topTechs[4]
        .col-md-9
          p: strong.card-text.text-white #{tech.name} 
        .col-md-3.text-right
          span.text-warning #{tech.stars.length}

