mixin topRepairs(topRepairs)
  //pre= h.dump(topTechs)
  .card.bg-dark#topRepairs
    .card-header.bg-info.text-white.text-center.p-2 Top Reparos:
    .row
      each repair in topRepairs[5]
        .col-md-9
          p: strong.card-text.text-white #{repair.title} 
        .col-md-3.text-right
          span.text-warning #{repair.stars.length}
